.product_wrapper {
  border: none;
  padding-left: 10%;
  height: 56vh;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);

  .product {
    border: none;
    width: 100%;
    height: 60vh;
  }

  #goods_img_wrapper {
    // position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 105px;
    position: absolute;
    opacity: 0;
  }

  #goods_img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .hovered {
    animation: fadeout 0.5s;

    @keyframes fadeout {
      0% {
        background-size: cover;
      }
      0% {
        background-size: 100%;
      }
    }
  }

  .see_more {
    text-align: center;
    padding-top: 49%;
    font-size: 25px;
    color: rgb(255, 254, 220);
  }

  .product_name {
    margin: {
      top: 20px;
      bottom: 30px;
    }
    font-size: 13px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
  }

  .star {
    width: 100%;
    height: 18px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 0;
    font-size: 13px;
    color: rgb(160, 160, 160);
  }
  .star_img {
    height: 10px;
    color: rgb(255, 178, 70);
  }
  #product_price {
    font-size: 13px;
    text-align: center;
    padding: 0;
    color: rgb(161, 161, 161);
  }
}
