@mixin font {
  font-family: 'Jost', sans-serif;
}

.store_locator {
  padding-top: 95px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid rgb(46, 56, 108);
  letter-spacing: 0.8px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(46, 56, 108);
  @include font;
}

.location_container {
  display: flex;
  justify-content: space-between;
  margin: 100px;

  .location_list {
    width: 25%;
    height: fit-content;

    .search {
      margin-bottom: 15px;

      input {
        width: 80%;
        height: 34px;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 0px;
        @include font;
      }

      button {
        background-color: #333333;
        margin-left: 20px;
        padding: 8px 10px;
        border: none;
        border-radius: 4px;

        img {
          width: 16px;
        }
      }
    }

    .list {
      overflow: scroll;
      height: 450px;

      &::-webkit-scrollbar-track {
        width: 10px; /* 스크롤바 배경의 너비 */
        background: lightgray; /*스크롤바 뒷 배경 색상*/
      }
    }
  }

  .location_map {
    width: 70%;
    height: fit-content;
  }
}
