.carousel {
  .items_container {
    flex-direction: row;
    margin: 50px 0;
    height: 475px;

    .slick-list {
      width: 90vw;
    }
    .slick-prev::before,
    .slick-next::before {
      // opacity: 0;
      display: none;
    }

    .slick-prev {
      width: 0px;
      height: 0px;
      margin-left: -25px;
      border-bottom: 25px solid transparent;
      border-top: 25px solid transparent;
      border-left: 25px solid transparent;
      border-right: 25px solid rgb(47, 56, 108);
    }

    .slick-next {
      width: 0px;
      height: 0px;
      margin-right: -25px;
      border-bottom: 25px solid transparent;
      border-top: 25px solid transparent;
      border-left: 25px solid rgb(47, 56, 108);
      border-right: 25px solid transparent;
    }
  }
}
