.collection_inner {
  display: -webkit-box;
  -webkit-box-flex: 1;
  padding-top: 35px;
  margin-top: 50px;
  height: 100%;

  .products_space {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 1050px;
  }

  .product_wrapper_wrapper {
    width: 25%;
  }

  .big_product_wrapper_wrapper {
    width: 50%;
    height: 13%;
  }
}
