.menu_list {
  .wrapper {
    flex-direction: column;
    width: 255px;

    .title {
      width: 100%;
      margin-bottom: 20px;
      text-align: left;
      font-size: 17.5px;
    }

    .menu {
      width: 100%;
      margin-bottom: 10px;
      text-align: left;
      cursor: pointer;
      letter-spacing: 0.01rem;
    }
    .text {
      margin-top: 25px;
      margin-bottom: -25px;
      line-height: 23.5px;
    }
  }
}
