.review_container {
  .star_rating {
    padding: 40px 0;
    text-align: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: rgb(69, 68, 68);
  }

  .review_wrapper {
    margin: 0 105px;

    .write_btn {
      position: relative;
      height: 40px;

      span {
        display: flex;
        position: absolute;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        width: 155px;
        height: 38px;
        border: 1px solid lightgray;
        border-radius: 3px;
        box-shadow: 3px 3px 5px gray;

        img {
          height: 12px;
          padding-left: 10px;
        }

        p {
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .tab-review {
      position: relative;
      height: 49px;

      div {
        position: absolute;
        left: 0;
        padding: 15px 10px;
        border-bottom: 3px solid black;
      }

      span {
        font-size: 16px;
      }

      .num {
        padding: 5px;
        margin-left: 8px;
        background-color: rgb(251, 251, 251);
        border-radius: 3px;
      }
    }
  }

  .view_review {
    margin: 50px 0;
    text-align: center;
    color: gray;

    .rating {
      letter-spacing: 3px;
      font-size: 18px;
    }

    p {
      padding: 15px 0;
    }
  }
}

.space {
  margin-bottom: 15px;
}
