.review_box {
  display: flex;
  padding: 30px 0px;
  border-top: 1px solid lightgray;

  .writer_info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    .star_rate {
      color: rgb(255, 208, 0);
      letter-spacing: 4px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .writer_name,
    .created_at {
      padding-bottom: 3px;
      color: gray;
      font-size: 14px;
    }
  }

  .review_content {
    .title {
      margin-bottom: 10px;
    }

    .content {
      font-size: 14px;
    }
  }
}
