.x_bar {
  .items_container {
    flex-direction: row;
    margin: 50px 0;
    height: 475px;

    .slick-list {
      width: 90vw;
    }
    .slick-prev::before,
    .slick-next::before {
      // opacity: 0;
      display: none;
    }

    .slick-arrow {
      background-color: rgb(47, 56, 108);
      border-radius: 100%;

      width: 30px;
      height: 30px;
    }

    .slick-prev {
      margin-left: -10px;
    }

    .slick-next {
      margin-right: -10px;
    }
  }
}
