#product_filtering_category {
  .inner_keyword_button {
    font-size: 11px;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }

  .button_style {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 7px 0 6px;
    padding-left: 0;
    font-size: 11px;
  }

  .margin_right {
    margin-right: 15px;
  }
  .under_line {
    border-bottom: 0.5px solid rgb(207, 207, 207);
  }
  #bottom_space {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#price_filtering_category {
  .button_style {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 7px 0 6px;
    padding-left: 0;
    font-size: 11px;
  }

  #bottom_line_box {
    height: 40px;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
  }

  #price_navi_base {
    padding-top: 20px;
  }

  .price_box {
    width: 70px;
    height: 26px;
    border: 0.5px solid rgb(206, 206, 206);
    margin-right: 15px;
  }

  #minus {
    padding-top: 6px;
    font-size: 15px;
    margin-right: 12px;
  }

  #price_line {
    border: none;
    background-color: transparent;
    width: 92%;
    height: 0%;
  }

  .margin_right {
    margin-right: 15px;
  }
}

#flavor_filtering_category {
  // @keyframes buttonmotion {
  //   0% {height :0; }
  //   100% {height :40px;}
  //   }
  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 11px;
  }

  .margin_right {
    margin-right: 15px;
  }

  .button_style {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 7px 0 6px;
    padding-left: 0;
    font-size: 11px;
  }
}
