button.logout_btn {
  font-family: 'Nanum Gothic', sans-serif;
  background: none;
  color: gray;
  letter-spacing: 2px;
  font-size: 15px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
