.home_container {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.2rem;

  .video {
    width: 100%;
  }

  .home_main {
    background-image: url(../../../public/image/home.jpg);
    background-size: cover;
    height: 100vh;
    animation: fadein 1s;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .text_container {
      position: absolute;
      right: 9vh;
      bottom: 9vh;
      color: white;
      text-align: right;
      animation: fadeInUp 1s;

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translate3d(0, 100%, 0);
        }
        to {
          opacity: 1;
          transform: translateZ(0);
        }
      }

      .text_1 {
        font-size: 0.8rem;
      }

      .text_2 {
        margin: 3.5vh 0;
        font-size: 1.65rem;
      }

      .text_btn {
        width: 10.5vw;
        height: 6.5vh;
        margin-left: 100vw;
        background-color: white;
        color: black;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
  .description_container {
    display: flex;
    padding: 6vw 6vw 6vw 9vw;
    letter-spacing: 0.01rem;

    .description_img {
      width: 40vw;
      height: 40vw;
      margin-right: 3.5vw;
    }
    .description {
      margin-top: -70px;
    }
  }
}
