$btn-color: rgb(47, 56, 108);
$shadow: 1px 1px #999, -1px -1px #999;

@mixin Jost {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2.5px;
}

.home_trending {
  .title_1 {
    margin: 80px 0 20px 0;
  }
  .title_2 {
    font-size: 27px;
  }
}
