.items_container {
  .item_container {
    flex-direction: column;
    font-weight: 400;
    letter-spacing: 0.1rem;
    cursor: pointer;

    .img {
      width: 18vw;
      height: 18vw;
    }
    .name {
      margin: 5vh 0 3.5vh 0;
      text-align: center;
    }
    .rate {
      font-size: 1.1rem;
      font-weight: 900;
      color: #ffd200;
    }
    .price {
      margin-top: 2vh;
      font-size: 0.9rem;
    }
  }
}
