.items_container {
  .item_container {
    flex-direction: column;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.25vw;
    cursor: pointer;

    .img_container {
      .hovered_img {
        animation: fadeout 0.5s;

        @keyframes fadeout {
          0% {
            background-size: cover;
          }
          0% {
            background-size: 100%;
          }
        }

        .in_img {
          font-size: 1.5rem;
          font-weight: 300;
          color: white;
        }
      }
    }

    .name {
      height: 2.5vh;
      margin: 5vh 0 3.5vh 0;
      text-align: center;
    }
    .rate {
      font-size: 1.1rem;
      font-weight: 900;
      color: #ffd200;
    }
    .price {
      margin-top: 2vh;
      font-size: 0.9rem;
    }
  }
}
