@mixin font {
  font-family: 'Jost', sans-serif;
  font-weight: 350;
}

.description {
  padding-top: 50px;
  width: 400px;
  margin-left: 50px;
  position: sticky;
  top: 50px;
  right: 100px;
  @include font;

  .product_meta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    height: 114px;

    .product_name {
      letter-spacing: 4px;
      // text-rendering: optimizeSpeed;
      font-size: 19px;
    }

    .total_rating {
      color: rgb(255, 208, 0);
      letter-spacing: 4px;
      font-size: 16px;
    }

    a {
      letter-spacing: 0.4px;
      font-size: 16px;
      text-decoration: underline;
      cursor: pointer;
    }

    .price {
      letter-spacing: 4px;
      font-size: 16.5px;
    }
  }

  .product_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    height: 120px;

    .quantity_selector {
      display: flex;
      width: 139px;
      border: 1px solid black;
      text-align: center;

      span {
        width: 40%;
        height: 46px;
        line-height: 43px;
        font-size: 22px;
        cursor: pointer;
        @include font;
      }

      input {
        width: 35px;
        border: none;
        text-align: center;
        font-size: 16px;
        letter-spacing: 2.5px;
        @include font;
      }
    }

    button {
      width: 398px;
      height: 45px;
      background-color: #2f386c;
      border: none;
      color: white;
      font-size: 13px;
      letter-spacing: 4px;
      cursor: pointer;
      z-index: 1;
      @include font;

      // &:after {
      //   border: 1px solid #2f386c;
      //   position: absolute;
      //   color: #2f386c;
      //   content: 'ADD TO CART';
      //   width: 0;
      //   height: 44px;
      //   top: 263px;
      //   right: 0;
      //   z-index: -1;
      //   background-color: #ffffff;

      //   transition: all 0.5s ease;
      // }

      // &:hover:after {
      //   left: 0;
      //   width: 99%;
      // }

      // &:active {
      //   top: 2px;
      // }
    }
  }

  .product_description {
    font-size: 15.8px;
    @include font;
    line-height: 26px;

    p {
      margin-top: 20px;
    }

    .nutrition {
      text-decoration: underline;
    }
  }
}
