.nav_container {
  position: fixed;
  flex-direction: column;
  z-index: 3;

  .nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 18px 50px;
    background-color: rgba(255, 255, 255);
    box-shadow: 1px 1px #999, -1px -1px #999;
    transition: background-color 0.4s;
    transition: box-shadow 0.4;

    .logo_container {
      margin-left: 2.5vw;
    }

    .nav_menu_container {
      display: flex;

      .nav_menu {
        height: 100%;
        padding: 0 1.1vw;
        font-size: 0.85rem;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  .invisibleNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 18px 50px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
    transition: box-shadow 0.4;

    .logo_container {
      margin-left: 2.5vw;

      .logo {
        color: white;
      }
    }

    .nav_menu_container {
      display: flex;

      .nav_menu {
        height: 100%;
        padding: 0 1.1vw;
        color: white;
        font-size: 0.85rem;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
