.nav_container {
  z-index: 3;
  flex-direction: column;
  position: fixed;

  #nav {
    display: flex;
    flex-direction: row;
    font-family: 'Nanum Gothic', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px #999, -1px -1px #999;

    .logo_container {
      margin-left: 70px;
    }

    .nav_menu_container {
      display: flex;

      .nav_menu {
        height: 100%;
        padding: 0px 15px;
        font-family: 'Jost', sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2.5px;
        cursor: pointer;
      }
    }
  }
}
