.modal_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 30vw;
  height: calc(100vh - (64.8px + 25vh));
  margin: 64.8px 0;
  box-shadow: 1px 1px #999, -1px -1px #999;
  background-color: white;
  overflow-y: auto;
  z-index: 3;
  animation: fadein 0.4s;
  font-weight: 400;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .not_login {
    display: flex;
    height: 100%;
    .login_plz {
      color: #999;
      font-size: 1.25rem;
    }
  }

  .item_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 0.9rem;

    .pic {
      height: 10vw;
      width: 10vw;
      margin: 1.8vw;
    }

    .text_box {
      letter-spacing: 0.05rem;

      .title {
        cursor: pointer;
      }
      .price {
        margin: 20px 0;
        font-weight: 300;
      }
      .wrapper {
        display: flex;
        flex-direction: row;

        .quantity {
          margin: 0 10px;
        }
        .add,
        .minus {
          height: 1vw;
          width: 1vw;
          cursor: pointer;
        }
        .remove {
          position: absolute;
          right: 1.5vw;
          color: #999;
          cursor: pointer;
        }
      }
    }
  }

  .modal_bottom {
    flex-direction: column;
    position: fixed;
    width: 30vw;
    height: 25vh;
    right: 0;
    bottom: 0px;
    box-shadow: 1px 1px #999, -1px -1px #999;
    background-color: white;
    letter-spacing: 0.15rem;
    z-index: 1;

    .total_price {
      text-align: left;
      width: 26vw;
      letter-spacing: 0.1rem;
      font-weight: 400;
    }

    .buy_btn {
      margin-top: 3vh;
      width: 26vw;
      height: 8vh;
      background-color: rgb(47, 56, 108);
      color: white;
      letter-spacing: 0.2rem;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
