$btn-color: rgb(47, 56, 108);

.home_container {
  .home_part {
    display: flex;

    .img {
      width: 50%;
    }

    .text_container {
      flex-direction: column;
      width: 50%;

      .text_1 {
        font-size: 2rem;
      }

      .text_2 {
        margin: 2.25vw 0;
      }

      .text_btn {
        width: 10.5vw;
        height: 6.5vh;
        color: white;
        background-color: $btn-color;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
