.modal_search {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  margin-top: calc(8vh + 2% + 64.8px);
  box-shadow: 1px 1px #999, -1px -1px #999;
  animation: fadein 0.25s;
  overflow-y: auto;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .input_container {
    .input_search {
      position: fixed;
      top: 64.8px;
      width: 100%;
      height: 8vh;
      padding: 1% 2%;
      border: none;
      box-shadow: 1px 1px #999, -1px -1px #999;
      font-family: 'Pretendard', sans-serif;
      font-size: 4vh;
      letter-spacing: 0.25rem;
      word-break: break-all;
      box-sizing: content-box;

      &:focus {
        outline: 0;
      }
    }
  }

  .items_container_x {
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;

    .item_container_x {
      display: flex;

      .img {
        width: 120px;
        height: 120px;
        margin: 20px;
      }
      .info {
        flex-direction: column;
        text-align: left;
        .name {
          width: 100%;
          margin-bottom: 5vh;
          font-size: 1.1rem;
        }
        .price {
          width: 100%;
        }
      }
    }
  }
}
