.footer_container {
  .bottom_container {
    width: 100%;

    .bottom_box {
      width: 25%;
      margin: 10vh 0 7.5vh 0;

      &:first-of-type {
        margin-right: 4vw;
      }

      &:last-of-type {
        margin-left: -10vw;
      }
      .wrapper {
        flex-direction: column;
        width: 255px;

        .text {
          margin-top: 4vh;
          line-height: 3.5vh;
          letter-spacing: 0.01rem;
        }

        .corporate {
          margin-top: 3vh;
          font-size: 1.12rem;
        }
      }

      .icons {
        margin-left: 150px;
        margin-top: 35vh;
      }
    }
  }
}
