.detail_container {
  display: flex;
  padding: 50px 0;

  .photo {
    display: flex;
    margin-left: 50px;

    .small-photo {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 50px;

      img {
        width: 68px;
        margin-bottom: 20px;
      }
    }

    .big-photo {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      img {
        width: 720px;
      }
    }
  }
}
