@mixin font {
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 2.5px;
}

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @include font();
// }

.outter_content_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 100%;
}

div.border_box_signup {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

div.header_content_signup {
  text-align: center;
}

h1.signup-text-h {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 24px;
  letter-spacing: 2px;
  @include font();
}

p.signup-text-p {
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  @include font();
}

form.input_content_signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 46px;
  color: rgb(157, 157, 157);
}

input.signup_input {
  margin-bottom: 15px;
  padding: 12px 14px;
  @include font();
}

button.signup_btn {
  height: 46px;
  padding: 12px 14px;
  background-color: #2f386c;
  color: #ffffff;
  @include font();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cond_msg {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  color: #000;
  padding: 0.25rem;
  position: relative;
  bottom: -0.5px;
  margin-bottom: 13px;
  @include font();
}

// .cond_msg > svg {
//   margin-right: 0.25rem;
// }

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

// .valid {
//   color: limegreen;
//   margin-left: 0.25rem;
// }

// .invalid {
//   color: red;
//   margin-left: 0.25rem;
// }

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.toLogin {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 400px;
  height: 500px;
  padding: 40px;
}
